body{font-size: 14px;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;color: #333333;}

.tagline{background: #444644;text-align: center;color: #fff;padding: 20px 0;}
.tagline h3, .tagline2 h3{font-size: 28px;margin-bottom: 5px;}

.features,.gallery{padding: 80px 0;text-align: center;}
.features .contwrap,.gallery .contwrap{margin-bottom: 20px;}
.features .icon{width: 50px;height: 50px;background: #444644;border-radius: 50%;text-align: center;line-height: 50px;font-size: 20px;color: #fff;margin: 0 auto 50px;border: 0 solid #fff;transition: border ease-out 0.5s;box-shadow: 0 0 0 0 #fff;box-sizing: content-box;}
.features h4{font-size: 20px;margin-bottom: 20px;}
.features p{color: #909090}
.features .contwrap:hover .icon{background: #5fb3c3;border-width:10px;box-shadow: 0 0 0 2px #5fb3c3;}
.features .contwrap:hover h4{color: #5fb3c3;}

.tagline2{text-align: center;margin-bottom: 40px;}

.gallery{background: #f5faf9;}
.gallery .icon{position: relative;}
.gallery .icon:after{content:'\f055';font-family: 'FontAwesome';color: #fff;text-align: center;position: absolute;width: 100%;height: 0;transition: ease height 0.5s;background: rgba(0,0,0,0.6);left: 0;top: 0;cursor: pointer;}
.gallery .contwrap:hover .icon:after{height: 100%;}